* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #858585;
  font-weight: 300;
  background: #eee;
  width: 100%;
  height: 100%;
  text-align: center;
}

table {
  width: 100%;
}
