.App {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #f5ba13;
  color: #858585;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.nav-links {
  width: 40%;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #858585;
  font-weight: 300;
  margin: 10px;
}
.active {
  font-weight: italic;
}

.text {
  text-align: center;
  margin: auto;
  width: 50%;
}
